<div class="background_area">
  <div class="background_image background_image_coupon"></div>
</div>

<% if current_user.sale<20%>

  <div class="auth_block">
    <div class="block_send_phone">
      
      <div class="center_block_title" style="margin-bottom: 15px;">
        Упс!
      </div>
      
      <%=render template: '/tests/sale_block.html.erb'%>
      
      <div class="auth_block_description">
        Вы неверно ответили на 4 вопроса.<br> Попробовать снова?
      </div>
      
      <form action="/auth/repeat" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <button class="button_blue button_blue_repeat">
          <div class="button_blue_icon button_blue_icon_repeat">
          
          </div>
          <div class="button_blue_text">
            Повторить
          </div>
        </button>
      </form>
      
    </div>
  </div>
        
<% else %>

  
  <div class="auth_block">
  	<div class="block_send_phone">
  		
  		<div class="center_block_title" style="margin-bottom: 15px;">
	      Поздравляем!
	    </div>

	    <%=render template: '/tests/sale_block.html.erb'%>

	    <div class="auth_block_description">
        Вы можете использовать ее при покупке продукции Zewa в магазинах «Пятёрочки» (<a target="_blank" href="/rules">правила акции</a>).
	    </div>

	    <form class="form_phone">
        
        <div class="form_error form_error_phone">
          <img src="/img/auth/error.svg" width='20' alt="">
          <div class="form_error_text">
            К сожалению, такой номер телефона уже участвовал в акции. Попробуйте ввести другой номер телефона
          </div>
          
        </div>
        
        <div class="form_error form_error_email">
          <img src="/img/auth/error.svg" width='20' alt="">
          <div class="form_error_text">
            К сожалению, такой E-mail уже участвовал в акции. Попробуйте ввести другой E-mail
          </div>
          
        </div>
        
	    	<input type="tel" name="phone" placeholder="+7 (000) 000-00-00">

	    	<input type="email" name="email" placeholder="E-mail">
        
        

		    <button class="button_blue button_send_phone">
  				<div class="button_blue_icon button_blue_icon_coupon">

  				</div>
  				<div class="button_blue_text">
  					Получить купон
  				</div>
  			</button>
        
        <div class="rulles_parent">
          <input type="checkbox" checked id="rulles">
          <label for="rulles">Согласие на обработку <a href="https://save-forest-with-zewa-i-5ka.ru/consent_for_product_consumers.docx" target="_blank">персональных данных</a></label>
        </div>
          
  		</form>

  	</div>
  	<div class="block_send_code">
  		<div class="code_send_description">
  			На ваш телефон направлено SMS-сообщение с четырехзначным кодом. Введите его в окно ниже:
  		</div>


  		<form class="form_code">
        
        <div class="form_error form_error_code" style="margin-top: 15px;">
          <img src="/img/auth/error.svg" width='20' alt="">
          <div class="form_error_text">
            Код подтверждения неверный.
          </div>
          
        </div>
        
      	<input type="text" class="input_code" maxlength='4' name="code" placeholder="_ _ _ _">
        
        
  	    <button class="button_blue button_send_phone">
  				<div class="button_blue_icon button_blue_icon_play">
          
  				</div>
  				<div class="button_blue_text">
  					Продолжить
  				</div>
  			</button>
  		</form>

  		<div class="button_border button_border_partners js-code-back">
        <div class="button_border_icon button_border_icon_back">
          
        </div>
        <div class="button_border_text">
          Назад
        </div>
      </div>
      
      <div class="code_resend">
        Выслать код заново: 00:59
      </div>

  	</div>
  </div>
<% end %>