<div class="background_area">
  <div class="background_image background_image_coupon"></div>
</div>

<% if current_user.sale==1000%>

  <div class="auth_block">
    <div class="block_send_phone">
      
      <div class="center_block_title" style="margin-bottom: 15px;">
        Упс!
      </div>
      
      <%=render template: '/tests/sale_block.html.erb'%>
      
      <div class="auth_block_description">
        Вы неверно ответили на 4 вопроса.<br> Попробовать снова?
      </div>
      
      <form action="/auth/repeat" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <button class="button_blue button_blue_repeat">
          <div class="button_blue_icon button_blue_icon_repeat">
          
          </div>
          <div class="button_blue_text">
            Повторить
          </div>
        </button>
      </form>
      
    </div>
  </div>
        
<% else %>

  
  <div class="auth_block">
  	<div class="block_send_phone">
  		
  		<div class="center_block_title" style="margin-bottom: 15px;">
        <% if current_user.sale<20%>
          Упс!
        <% else %>
          Поздравляем!
        <% end %>
	      
	    </div>
      <!-- Если ноль, то написать упс -->
	  
	    <div class="auth_block_description">
        <% if current_user.sale<20%>
          Вы неверно ответили на 4 вопроса.<br> Попробовать снова?
        <% else %>
          Количество правильных ответов: 
          <% if current_user.sale==50 %>
            4
          <% end %>
          <% if current_user.sale==40 %>
            3
          <% end %>
          <% if current_user.sale==30 %>
            2
          <% end %>
          <% if current_user.sale==20 %>
            1
          <% end %>
        <% end %>
	    </div>
      
      <form action="/auth/repeat" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <button class="button_blue button_blue_repeat">
          <div class="button_blue_icon button_blue_icon_repeat">
          
          </div>
          <div class="button_blue_text">
            Начать заново
          </div>
        </button>
      </form>
      

      
      
  	</div>
  	<div class="block_send_code">
  		<div class="code_send_description">
  			На ваш телефон направлено SMS-сообщение с четырехзначным кодом. Введите его в окно ниже:
  		</div>


  		<form class="form_code">
        
        <div class="form_error form_error_code" style="margin-top: 15px;">
          <img src="/img/auth/error.svg" width='20' alt="">
          <div class="form_error_text">
            Код подтверждения неверный.
          </div>
          
        </div>
        
      	<input type="text" class="input_code" maxlength='4' name="code" placeholder="_ _ _ _">
        
        
  	    <button class="button_blue button_send_phone">
  				<div class="button_blue_icon button_blue_icon_play">
          
  				</div>
  				<div class="button_blue_text">
  					Продолжить
  				</div>
  			</button>
  		</form>

  		<div class="button_border button_border_partners js-code-back">
        <div class="button_border_icon button_border_icon_back">
          
        </div>
        <div class="button_border_text">
          Назад
        </div>
      </div>
      
      <div class="code_resend">
        Выслать код заново: 00:59
      </div>

  	</div>
  </div>
<% end %>