<div class="background_area">
  <div class="background_image background_image_partners"></div>
</div>

<div class="content">
  <div class="content_partners">
    <div class="center_block_title">
      Партнеры
    </div>
    
    <div class="partners_text">
      <p>
        <img src="/img/partners/logo_1.png" class='partners_image' height="40px" alt="">
        <b>FSC</b> (Forest Stewardship Council®, Лесной попечительский совет) - организация, целью которой является продвижение ответственного управления лесами во всем мире. 
      </p>
    </div>
    <div class="partners_text">
      <p>
        Такое лесоуправление подразумевает легальную заготовку древесины, уважение прав местного населения и работников, сохранение биологического разнообразия и лесовосстановление и другое. Производители, которые работают по этим высоким требованиям проходят добровольную сертификацию FSC и ставят маркировку на свою продукцию. 

      </p>
      <p>
        Маркировка FSC говорит о происхождении сырья из ответственных источников и что при производстве в продукцию не подмешивается древесина/целлюлоза нежелательного или неизвестного происхождения.

      </p>
      <p>
        Благодаря кампании "Сохраняйте леса вместе с нами" FSC России поможет провести лесовосстановление и уход за лесом там, где это необходимо <a href="https://ru.fsc.org/ru-ru/news/id/1221" target="_blank">https://ru.fsc.org/ru-ru/news/id/1221</a>.
      </p>
    </div>
    
    <div class="partners_gray_block">
      <div class="partners_text">
        <img src="/img/partners/logo_2.png" class='partners_image' height="80px" alt="">
        <div>
          Bся используемая целлюлоза и макулатура при производстве Zewa сертифицирована FSC. Покупатель узнает об этом  из маркировки на пачке: FSC MIX и FSC ВТОРИЧНЫЙ.

        </div>
        
      </div>
    </div>
    
    <hr>
    
    <div class="partners_text">
      <p>
        <img src="/img/partners/logo_3.png" class='partners_image' height="70px" alt="">
        При производстве продукции торговой марки Zewa мы стремимся снизить воздействие на окружающую среду, заботясь при этом и о вашем благополучии. С помощью  инноваций  в нашей продукции, упаковке и на производстве мы постоянно совершенствуемся как компания, бережно относящаяся к окружающей среде.
      </p>
    </div>
    
    <div class="partners_text">
      <p>
        Существуют три варианта при выборе волокон для бумажной продукции. Мы можем использовать новые древесные волокна от сертифицированных поставщиков, переработанные волокна или альтернативные волокна. 
      </p>
      <p>
        Большинство нашей бумажной продукции изготавливается из возобновляемых волокон, имеющих сертификацию FSC или PEFC, или переработанных материалов. Наша задача – производство экологичной продукции. 
      </p>
      <p>
        Для достижения этой цели мы инвестируем в развитие использования альтернативного волокна и создаем производственные мощности, которые  будут производить целлюлозу из соломы пшеницы.
      </p>
    </div>
    
    <hr>
    
    
    <div class="partners_text">
      <p>
        <img src="/img/partners/logo_4.png" class='partners_image' height="70px" alt="">
        «Пятёрочка», как главный магазин у дома, является местом совершения ежедневных покупок для большого числа потребителей и осознаёт масштаб своего воздействия на окружающую среду, стремясь снизить нагрузку на экологию.

      </p>
    </div>
    
    <div class="partners_text">
      <p>
        «Пятёрочка» отправляет на переработку 100% пластика, картона, бумаги и других видов непищевых отходов, которые образуются в результате логистических операций и ежедневной работы магазинов, а также не раздаёт бесплатные пластиковые пакеты на кассе.
      </p>
      <p>
        Важнейшим приоритетом «Пятёрочки», как части Х5 Retail Group, является реализация стратегии в области устойчивого развития. Одна из важнейших глобальных целей - содействие ответственному потреблению и использованию ресурсов. В рамках реализации этой цели Х5 развивают принципы и практики отслеживания ответственного происхождения товаров среди поставщиков.
      </p>
    </div>
    
    <div class="partners_gray_block" style="padding: 20px">
      <div class="partners_text">
        Поэтому покупая сертифицированную FSC продукцию торговой марки Zewa в «Пятёрочке», вы делаете ответственный выбор!        
      </div>
    </div>
    
    <a href="/tests" class="button_blue button_blue_partners">
      <div class="button_blue_icon button_blue_icon_play">
        
      </div>
      <div class="button_blue_text">
        Начать квест
      </div>
    </a>
  
    
  </div>
</div>