<div class="content" style="margin-top: 100px;">
  
  <table border='1' bordercolor='#ddd' cellpadding='5' cellspacing="0">
    
    <tr>
      <td>
        
      </td>
      <td>
        Использовано
      </td>
      <td>
        Не использовано
      </td>
      <td>
        Всего
      </td>
    </tr>
    
    
    <tr>
      <td>
        20
      </td>
      <td>
        <%=Coupon.where(used: true, sale: 20).count%>
      </td>
      <td>
        <%=Coupon.where(used: false, sale: 20).count%>
      </td>
      <td>
        <%=Coupon.where(sale: 20).count%>
      </td>
    </tr>
    <tr>
      <td>
        30
      </td>
      <td>
        <%=Coupon.where(used: true, sale: 30).count%>
      </td>
      <td>
        <%=Coupon.where(used: false, sale: 30).count%>
      </td>
      <td>
        <%=Coupon.where(sale: 30).count%>
      </td>
    </tr>
    <tr>
      <td>
        40
      </td>
      <td>
        <%=Coupon.where(used: true, sale: 40).count%>
      </td>
      <td>
        <%=Coupon.where(used: false, sale: 40).count%>
      </td>
      <td>
        <%=Coupon.where(sale: 40).count%>
      </td>
    </tr>
    <tr>
      <td>
        50
      </td>
      <td>
        <%=Coupon.where(used: true, sale: 50).count%>
      </td>
      <td>
        <%=Coupon.where(used: false, sale: 50).count%>
      </td>
      <td>
        <%=Coupon.where(sale: 50).count%>
      </td>
    </tr>
  </table>
  <table style="width: 100%">
    <tr>
      <td>
        <form action="/admin/find_user" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          
          <input type="code" name="code" placeholder="Номер купона">
          <p>
            <center>
              или
            </center>
          </p>
          
          <input type="tel" name="phone" placeholder="+7 (000) 000-00-00">
          <p>
            <center>
              или
            </center>
          </p>
          <input type="email" name="email" placeholder="Email">
          <button class="button_blue button_blue_repeat">
            
            <div class="button_blue_text">
              Найти человека
            </div>
          </button>
          
          
          
        </form>
        
        
        <% if params[:user_id].present? %>
          <% if params[:user_id]=='false' %>
            <center>
              <p>
                <b>
                  Человек не найден
                </b>
              </p>
            </center>
            
          <% else %>
            <% user=User.find(params[:user_id])
            coupon=user.coupon%>
            <table width='100%' border='1' bordercolor='#ddd' cellpadding='5' cellspacing="0">
              <tr>
                
                <td>
                  Телефон
                </td>
                <td>
                  E-mail
                </td>
                <td>
                  
                </td>
            
              </tr>
              <tr>
                <td>
                  <%=user.phone%>
                </td>
                <td>
                  <%=user.email%>
                </td>
                <td>
                  <form action="/admin/delete_user" method="post">
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <input type="hidden" name='user_id' value='<%=params[:user_id]%>'>
                    <button>Удалить</button>
                  </form>
                  
                </td>
              </tr>
            </table>
            
            <% if coupon.blank? %>
              <p>
                <b>
                  <center>
                    Купон не выдавался!
                  </center>
                </b>
              </p>
            <% else %>
              <p>
                <center>
                  <a style="" href="/coupons/<%=coupon.sale%>/<%=coupon.hashcode%>/download.png" download='Купон на продукцию Zewa в «Пятёрочке».png' class="coupon_button ym-goal" goal="download">
                    <div class="coupon_button_text">
                      Скачать
                    </div>
                  </a>
                </center>
              </p>
              <img style="width: 300px; margin: 15px auto; display: block" src="/coupons/<%=coupon.sale%>/<%=coupon.hashcode%>/download.png" alt="">
            <% end %>
          <% end %>
        <% end %>
        
      </td>
      <td>
        <form action="/admin/get_coupon" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <select name="sale" id="">
            <option value="20">20</option>
            <option value="30">30</option>
            <!-- <option value="40">40</option>
            <option selected value="50">50</option> -->
          </select>
          <button class="button_blue button_blue_repeat">
            
            <div class="button_blue_text">
              Получить купон
            </div>
          </button>
        </form>
        
        <% if params[:hashcode].present? 
          coupon=Coupon.find_by(hashcode: params[:hashcode])%>
          <p>
            <center>
              <a style="" href="/coupons/<%=coupon.sale%>/<%=coupon.hashcode%>/download.png" download='Купон на продукцию Zewa в «Пятёрочке».png' class="coupon_button ym-goal" goal="download">
                <div class="coupon_button_text">
                  Скачать
                </div>
              </a>
            </center>
          </p>
          <img style="width: 300px; margin: 15px auto; display: block" src="/coupons/<%=coupon.sale%>/<%=coupon.hashcode%>/download.png" alt="">
        <% end %>
      </td>
    </tr>
  </table>
</div>
