
<div class="content">
  
  <div class="index_content">
    <div class="index_title">
      Сохраняйте леса вместе с нами
    </div>
    
    
    <div class="index_action_end">
      <img src="/img/index/array.svg" alt="">
      <div class="index_action_end_text">
        <div class="index_action_end_text_1">
          Акция завершена!
        </div>
        <div class="index_action_end_text_2">
          Но вы можете проверить себя.
        </div>
      </div>
    </div>
    <div class="clear"></div>
    
    <a href="/tests/?redirect_to_test=true" class="index_button ym-goal" goal="start_index">
      Начать видео-тест
    </a>



    <div class="clear"></div>
  
    
    <div class="index_points">
      <div class="index_point">
        <div class="index_point_number">
          1
        </div>
        <div class="index_point_text">
          Купоном можно воспользоваться до «31» августа 2021 года включительно.

        </div>
      </div>
      
      <div class="index_point">
        <div class="index_point_number">
          2
        </div>
        <div class="index_point_text">
          Период вручения приза «Годовой запас Zewa»:<br> до «31» августа 2021 года включительно.

        </div>
      </div>
      
      <% if Coupon.exists?(used: false)%>

        <div class="index_point">
          <div class="index_point_number">
            3
          </div>
          <div class="index_point_text">
            Список победителей приза «Говодой запас Zewa» можно посмотреть во вкладке «<a href="/wins">Победители</a>».

          </div>
        </div>
        
        <div class="index_point">
          <div class="index_point_number">
            4
          </div>
          <div class="index_point_text">
            Подробную информацию об акции<Br> можно посмотреть во вкладке «<a href="/rules">Правила акции</a>»
          </div>
        </div>
      <% else %>
        <div class="index_point">
          <div class="index_point_number">
            3
          </div>
          <div class="index_point_text">
            Делитесь результатом и выигрывайте<br>дополнительные призы
          </div>
        </div>
      <% end %>
    </div> 
      
  </div>
</div>

<div class="index_backgound">
  <div class="index_backgound_line"></div>
  <div class="index_backgound_image"></div>
</div>