<div class="background_area">
  <div class="background_image background_image_contacts"></div>
</div>


<div class="contact_center_block">
  <div class="center_block_title">
    Контакты
  </div>
  <div class="contact_description">
    Если у вас возникли вопросы / пожелания / предложения по акции, ее правилах, сроках, порядке и месте ее проведения - свяжитесь с нами через WhatsApp:
  </div>
  <a href="https://api.whatsapp.com/send?phone=+79850868713" target="_blank" class="contact_button ym-goal" goal="contacts">
    <div class="contact_button_icon"></div>
    <div class="contact_button_text">
      Связаться
    </div>
  </a>
  <div class="contact_email">
    Или напишите нам на почту<br>
    <a href="mailto: support@save-forest-with-zewa-i-5ka.ru"> support@save-forest-with-zewa-i-5ka.ru</a>
  </div>
</div>