<div class="background_area">
  <div class="background_image background_image_partners"></div>
</div>

<div class="content">
  <div class="content_partners">
    <div class="center_block_title">
      Победители
    </div>
    <!-- 
    <p>
      Список победителей первого розыгрыша, которые были зарегистрированы на сайте в период с 07 июня 2021 года по 13 июня 2021 года включительно.

    </p> -->
    <p>
      С победителями свяжутся представители Zewa по электронной почте для уточнения информации, необходимой для отправки призов (ФИО и адрес доставки).

    </p>
  
    <center>
      <p>
        <b>Список победителей с 21 июня по 30 июня</b>
      </p>
    </center>
    
    <div class="wins_table">
      <div class="wins_table_header">
        <div class="wins_table_row">
          <div class="wins_table_col wins_table_col_number">
            №
          </div>
          <div class="wins_table_col">
            Приз
          </div>
          <div class="wins_table_col">
            Почта
          </div>
          <div class="wins_table_col">
            Телефон
          </div>
        </div>
        
      </div>
      <% User.where(winner: true, date_wins: '2021-06-21 00:00:00').each_with_index do |user,index|%>
        <div class="wins_table_row">
          <div class="wins_table_col wins_table_col_number">
            <%=index+1%>
          </div>
          <div class="wins_table_col">
            Годовой запас Zewa
          </div>
          <div class="wins_table_col">
            <%=user.email.split('@').first[0..2]%>***@<%=user.email.split('@').last%>
          </div>
          <div class="wins_table_col">
            <%=user.phone[0..6]%>) <%=user.phone[9..14]%>-**
          </div>
        </div>
      <% end %>
    </div>
    
    
    <center>
      <p>
        <b>Список победителей с 14 июня по 20 июня</b>
      </p>
    </center>
    
    <div class="wins_table">
      <div class="wins_table_header">
        <div class="wins_table_row">
          <div class="wins_table_col wins_table_col_number">
            №
          </div>
          <div class="wins_table_col">
            Приз
          </div>
          <div class="wins_table_col">
            Почта
          </div>
          <div class="wins_table_col">
            Телефон
          </div>
        </div>
        
      </div>
      <% User.where(winner: true, date_wins: '2021-06-14 00:00:00').each_with_index do |user,index|%>
        <div class="wins_table_row">
          <div class="wins_table_col wins_table_col_number">
            <%=index+1%>
          </div>
          <div class="wins_table_col">
            Годовой запас Zewa
          </div>
          <div class="wins_table_col">
            <%=user.email.split('@').first[0..2]%>***@<%=user.email.split('@').last%>
          </div>
          <div class="wins_table_col">
            <%=user.phone[0..6]%>) <%=user.phone[9..14]%>-**
          </div>
        </div>
      <% end %>
    </div>
    
    
    <center>
      <p>
        <b>Список победителей с 07 июня по 13 июня</b>
      </p>
    </center>
    
    <div class="wins_table">
      <div class="wins_table_header">
        <div class="wins_table_row">
          <div class="wins_table_col wins_table_col_number">
            №
          </div>
          <div class="wins_table_col">
            Приз
          </div>
          <div class="wins_table_col">
            Почта
          </div>
          <div class="wins_table_col">
            Телефон
          </div>
        </div>
        
      </div>
      <% User.where(winner: true, date_wins: '2021-06-07 00:00:00').each_with_index do |user,index|%>
        <div class="wins_table_row">
          <div class="wins_table_col wins_table_col_number">
            <%=index+1%>
          </div>
          <div class="wins_table_col">
            Годовой запас Zewa
          </div>
          <div class="wins_table_col">
            <%=user.email.split('@').first[0..2]%>***@<%=user.email.split('@').last%>
          </div>
          <div class="wins_table_col">
            <%=user.phone[0..6]%>) <%=user.phone[9..14]%>-**
          </div>
        </div>
      <% end %>
    </div>
    
    
    <center>
      <p>
        <b>Список победителей с 01 июня по 06 июня</b>
      </p>
    </center>
    
    <div class="wins_table">
      <div class="wins_table_header">
        <div class="wins_table_row">
          <div class="wins_table_col wins_table_col_number">
            №
          </div>
          <div class="wins_table_col">
            Приз
          </div>
          <div class="wins_table_col">
            Почта
          </div>
          <div class="wins_table_col">
            Телефон
          </div>
        </div>
        
      </div>
      <% User.where(winner: true, date_wins: '2021-06-01 00:00:00').each_with_index do |user,index|%>
        <div class="wins_table_row">
          <div class="wins_table_col wins_table_col_number">
            <%=index+1%>
          </div>
          <div class="wins_table_col">
            Годовой запас Zewa
          </div>
          <div class="wins_table_col">
            <%=user.email.split('@').first[0..2]%>***@<%=user.email.split('@').last%>
          </div>
          <div class="wins_table_col">
            <%=user.phone[0..6]%>) <%=user.phone[9..14]%>-**
          </div>
        </div>
      <% end %>
    </div>
    
    
    <div class="wins_info">
      Общий срок проведения Акции: с «01» июня 2021 года по «30» сентября 2021 года. Период участия в Акции: с «01» июня 2021 года по «30» июня 2021 года. Организатор Акции» ООО «Эссити». Подробную информацию об Организаторе акции, полных правилах ее проведения, количестве призов, сроках, месте и порядке их получения можно узнать на сайте www.save-forest-with-zewa-i-5ka.ru. ООО «Эссити» является держателем сертификата FSC (FSC-C003255).
    </div>
    
  </div>
</div>