
<%
coupon=current_user.coupon
%>

<div class="background_area">
  <div class="background_image background_image_coupon"></div>
</div>


<div class="pop_up_coupon js-pop-up-finish">
  <div class="pop_up_coupon_center">
    
    <% if Coupon.exists?(used: false)%>
      <div class="pop_up_coupon_close js-close-pop-up-coupon"></div>
    <% else %>
      <a href="/" class="pop_up_coupon_close"></a>
    <% end %>
    
    
    <div class="pop_up_coupon_year">
      <div class="pop_up_coupon_year_icon">
        
      </div>
      <div class="pop_up_coupon_year_text">
        Годовой запас Zewa
      </div>
    </div>
    
    <div class="center_block_title">
      
      Ваша заявка принята!

    </div>
    
    <div class="coupon_info">
      <p>
        Даты определения обладателя Главного приза:<br>
        07, 14, 21 июня 2021 года и 01 июля 2021 года.<br>
        <% if Time.new>Time.parse('2021-06-07 00:00:00')%>
          Список победителей можно найти по <a href="https://save-forest-with-zewa-i-5ka.ru/wins" target="_blank">ссылке</a>.
        <% end %>
      </p>
    </div>
    
  </div>
</div>

<div class="pop_up_coupon js-pop-up-social" <% if not Coupon.exists?(used: false)%>style="display: block"<%end%>>
  <div class="pop_up_coupon_center">
    <% if Coupon.exists?(used: false)%>
      <div class="pop_up_coupon_close js-close-pop-up-coupon"></div>
    <% else %>
      <a href="/" class="pop_up_coupon_close"></a>
    <% end %>
    <div class="pop_up_coupon_year">
      <div class="pop_up_coupon_year_icon">
        
      </div>
      <div class="pop_up_coupon_year_text">
        Годовой запас Zewa
      </div>
    </div>
    
    <div class="center_block_title">
      Поделитесь результатом
    </div>
    
    <div class="coupon_info">
      <p>
        И участвуйте в еженедельном розыгрыше <br>
        10 годовых запасов Zewa (<a target="_blank" href="/rules">подробнее</a>).
      </p>
    </div>
    
    <div class="buttons_social">
      
      <a type_social='fb' href="https://www.facebook.com/sharer.php?u=https://save-forest-with-zewa-i-5ka.ru/share" target="_blank" class="button_blue button_blue_social button_blue_fb ym-goal" goal="fb">
    		<div class="button_blue_icon button_blue_icon_fb">
 
    		</div>
    		<div class="button_blue_text">
    			Поделиться
    		</div>
    	</a>
      
      <a type_social='vk' href="https://vk.com/share.php?url=https://save-forest-with-zewa-i-5ka.ru/share" target="_blank" class="button_blue button_blue_social button_blue_vk ym-goal" goal="vk">
    		<div class="button_blue_icon button_blue_icon_vk">

    		</div>
    		<div class="button_blue_text">
    			Поделиться
    		</div>
    	</a>
      
    </div>
  </div>
</div>




<div class="pop_up_coupon" <% if current_user.change_sale==true %>style="display: block"<%end%> >
  <div class="pop_up_coupon_center">
    <div class="pop_up_coupon_close js-close-pop-up-coupon"></div>
  
    <div class="center_block_title" style="font-size: 18px; margin-top: 25px;">
      К сожалению, купоны на скидку <%=current_user.sale%>% закончились
    </div>
    
    <div class="coupon_info">
      <p>
        Согласно пункту 8.2 настоящих <a href="/rules">Правил акции</a> мы даем Вам купон другого номинала
      </p>
    </div>
    
    <div class="button_border button_border_partners js-close-pop-up-coupon">
      
      <div class="button_border_text">
        Хорошо
      </div>
    </div>
    
    
  </div>
</div>

<% if Coupon.exists?(used: false)%>
  <%
  if current_user.change_sale==true
    sale=coupon.sale
  else
    sale=current_user.sale
  end
  %>
  <div class="coupon_center_block" >
    <div class="coupon_center_block_background" style="padding-bottom: 0">
      <div class="center_block_title">
        <%=sale%>% скидка
      </div>
      <div class="coupon_info">
        <p>
          Подарочный купон на скидку <%=sale%>% при покупке<br> товаров Zewa в магазинах «Пятёрочка» отправлен на Вашу почту.
        </p>
        <p>
          Скидка по купону распространяется на товары<br> с белым ценником в отдельном чеке (<a target="_blank" href="/rules">подробнее</a>).
        </p>
      </div>
        
      
      <div class="coupon_buttons">
        <div class="coupon_button coupon_button_more ym-goal" goal="get_more_prizes">
          <div class="coupon_button_icon">
            <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2498 2.99976C9.18225 2.99976 7.49975 4.68225 7.49975 6.74976C7.49975 7.19024 7.58905 7.60677 7.72925 7.99976H2.49976V15.4998H3.74976V24.3596C3.74976 25.6784 4.82114 26.7498 6.13989 26.7498H23.8596C25.1784 26.7498 26.2498 25.6784 26.2498 24.3596V15.4998H27.4998V7.99976H22.2703C22.4105 7.60677 22.4998 7.19024 22.4998 6.74976C22.4998 4.68225 20.8173 2.99976 18.7498 2.99976C17.7864 2.99976 16.9147 3.37452 16.2498 3.97388V3.95679L16.1521 4.05444C16.1188 4.08657 16.0866 4.11877 16.0544 4.1521L14.9998 5.20679L13.9451 4.1521C13.9129 4.11878 13.8807 4.08657 13.8474 4.05445L13.7498 3.95679V3.97388C13.0848 3.37452 12.2131 2.99976 11.2498 2.99976L11.2498 2.99976ZM11.2498 5.49976C11.9398 5.49976 12.4998 6.06101 12.4998 6.74976C12.4998 7.43851 11.9398 7.99976 11.2498 7.99976C10.5598 7.99976 9.99975 7.43851 9.99975 6.74976C9.99975 6.06101 10.5598 5.49976 11.2498 5.49976ZM18.7498 5.49976C19.4398 5.49976 19.9998 6.06101 19.9998 6.74976C19.9998 7.43851 19.4398 7.99976 18.7498 7.99976C18.0598 7.99976 17.4998 7.43851 17.4998 6.74976C17.4998 6.06101 18.0598 5.49976 18.7498 5.49976ZM4.99976 10.4998H24.9998V12.9998H4.99976V10.4998ZM6.24975 15.4998H13.7498V24.2498H6.24975V15.4998ZM16.2498 15.4998H23.7498V24.2498H16.2498V15.4998Z" fill="#29327E"/>
            </svg>

          </div>
          <div class="coupon_button_text">
            Получить больше призов
          </div>
        </div>
        
        <a href="/coupons/<%=coupon.sale%>/<%=coupon.hashcode%>/download.png" download='Купон на продукцию Zewa в «Пятёрочке».png' class="coupon_button ym-goal" goal="download">
          <div class="coupon_button_icon">
            <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.25 25H0.75V22.5H18.25V25ZM9.5 20L2 12.5L3.7625 10.7375L8.25 15.2125V0H10.75V15.2125L15.2375 10.7375L17 12.5L9.5 20Z" fill="#29327E"/>
            </svg>

          </div>
          <div class="coupon_button_text">
            Скачать
          </div>
        </a>
      </div>
      
      <div class="block_coupon_logos">
        <img src="/img/layouts/logo_zewa.png" alt="">
        <img src="/img/layouts/logo_5.png" alt="">
        <img src="/img/layouts/logo.png" alt="">
      </div>
    </div>
    
    <img src="/img/coupon/line.svg" class='coupon_line'>
    
    <div class="coupon_center_block_background">
      <div class="coupon_barcode">
        <img src="/coupons/<%=coupon.sale%>/<%=coupon.hashcode%>/barcode.png" alt=""><br>
        <%=@coupon.code%>
      </div>
      
    </div>
    
    <div class="coupon_gray_block">
      Купон действует на покупку продукции Zewa во всех магазинах «Пятёрочка» в период с 01.06.2021 по 31.08.2021 включительно. Для совершения покупки купон должен быть предъявлен в распечатанном виде или с экрана мобильного телефона. Скидка по купону распространяется на отдельный чек на сумму не более 1 000 рублей. Утерянный или испорченный купон не восстанавливается. Купон на скидку не суммируется с другими акциями и предложениями.  С полным перечнем ассортимента, участвующего в акции можно ознакомиться в Правилах акции на сайте <a href="https://save-forest-with-zewa-i-5ka.ru">save-forest-with-zewa-i-5ka.ru</a>
    </div>
  </div>
<%end%>