/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/


body{
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #515154;
}

a{
  text-decoration: none;
  color: #224898;
}
input {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  outline: none;

  width: 300px;
  height: 60px;
  

  background: #F6F6F9;
  border-radius: 100px;

  font-weight: 500;
  font-size: 16px;

  text-indent: 30px;
  margin: 15px auto;

  display: block;
}


select {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  outline: none;

  width: 300px;
  height: 60px;
  

  background: #F6F6F9;
  border-radius: 100px;

  font-weight: 500;
  font-size: 16px;

  text-indent: 30px;
  margin: 15px auto;

  display: block;
}

.header{
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #FFF;
  z-index: 15;
  border-bottom: 2px solid rgba(34, 72, 152, 0.1);
}

.content{
  max-width: 1024px;
  min-width: 770px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  position: relative;
  z-index: 10;
}

.header_logo{
  float: left;
  display: block;
  margin-top: 5px;
}
.header_logo img{
  height: 50px;
}

.header_button{
  padding: 0 16px;

  float: right;
  height: 40px;
  margin-top: 10px;
  background: #EBF1F7;
  border-radius: 4px;
  
  
  color: #29327E;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
  font-weight: 600;
  
}

.menu{
  float: right;
  line-height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li{
  float: left;
  margin-right: 40px;
}
.menu a{
  
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #242424;
  text-decoration: none;
}



.background_area{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 62px);
  z-index: 0;
}
.background_image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
}


.center_block_title{
  
  font-weight: 600;
  font-size: 30px;
  text-align: center;
    
  color: #1457A3;
  background: linear-gradient(270deg, #1457A3 0%, #314C2F 100%);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


hr{
  height: 2px;
  display: block;
  
  border: none;
  background: #DEE1E7;
  border-radius: 2px;
  margin: 15px auto;
}
.clear{
  clear: both;
}

.button_blue{
  display: block;
  border: none;
  
  width: 300px;
  height: 50px;
  background: #224898;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button_blue_icon{
  width: 20px;
  height: 20px;
  margin-top: 15px;
  background-position: right;
  background-repeat: no-repeat;
}
.button_blue_icon_play{
  background-size: 14px 18px;
  background-image: url(/img/layouts/button_play.svg);
  width: 14px;
}
.button_blue_icon_coupon{
  background-size: 14px 18px;
  background-image: url(/img/layouts/button_coupon.svg);
  width: 14px;
}
.button_blue_icon_repeat{
  background-size: 14px 18px;
  background-image: url(/img/auth/repeat.svg);
  width: 14px;
}

.button_blue_text{
  
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
  line-height: 50px;
  margin-left: 10px;
}

.button_border{
  border: 2px solid rgba(41, 50, 126, 0.7);
  height: 46px;
  width: 296px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button_border_icon{
  width: 20px;
  height: 20px;
  margin-top: 13px;
  background-position: right;
  background-repeat: no-repeat;
}
.button_border_icon_back{
  background-size: 13px 10px;
  background-image: url(/img/layouts/button_back.svg);
  width: 13px;
}
.button_border_text{
  
  font-weight: 500;
  font-size: 16px;
  color: #224898;
  line-height: 46px;
  margin-left: 10px;
}

.button_burger{
  display: none;
}
.mobile_menu{
  display: none;
}

.loader{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(255,255,255,0.3);
}
