.auth_block{
  position: relative;
  width: 500px;
  padding: 15px;
  margin: 100px auto 100px auto;
  z-index: 10;
  background: #FFF;
  border-radius: 20px;
}
.block_send_code{
	display: none;
}

.auth_block_description{
	text-align: center;
	font-size: 16px;
	margin-bottom: 30px;
}

.button_send_phone{
	margin: 15px auto;
}

.input_code{
	text-align: center;
  text-indent: 0;
}
.code_send_description{
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}
.empty_input{
	background: #EB2316;
	color: #FFF;
}

.form_error{
  overflow: hidden;
  display: none;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(234, 22, 1, 0.05);
  border-radius: 5px;
  padding: 20px;
}
.form_error img{
  float: left;
  display: block;
}
.form_error_text{
  float: right;
  width: calc(100% - 30px);
}
.form_сode_error{
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #EB2316;
  text-align: center;
}
.code_resend{
  color: #29327E88;
  font-size: 16px;
  text-align: center;
}
.button_blue_repeat{
  margin: 0px auto;
  margin-bottom: 15px;
}
.ui-helper-hidden-accessible{
  display: none;
}



.ui-checkboxradio{
  display: none;
}
.ui-checkboxradio-label{
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
	display: block;
	line-height: 25px;
  user-select: none;
  color: #EA1601;
}
.ui-checkboxradio-label a{
  color: #EA1601;
}
.ui-checkboxradio-icon{
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
	float: left;
	margin-right: 10px;
  border: 3px solid #EA1601;
  box-sizing: border-box;
  
}
.ui-checkboxradio-icon.ui-state-checked{
  background-image: url(/img/auth/check.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 5px;
	background-color: #224898;
  border: 0px solid #EA1601;
  
}
.rulles_parent{
  display: flex;
  justify-content: center;
}
.ui-state-active{
  color: #515154;
}
.ui-state-active a{
  color: #224898;
}
