.background_image_contacts{
  background-image: url(/img/contacts/background.png);
}

.contact_center_block{
  position: relative;
  width: 500px;
  padding: 15px;
  margin: 100px auto 100px auto;
  z-index: 10;
  background: #FFF;
  border-radius: 20px;
}


.contact_description{
  margin-top: 15px;
  text-align: center;
}

.contact_button{
  width: 250px;
  height: 60px;
  margin: 15px auto 15px auto;
  background: #55C863;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.contact_button_icon{
  width: 20px;
  height: 20px;
  margin-top: 20px;
  background-size: cover;
  background-image: url(/img/contacts/whatsapp.svg);
}
.contact_button_text{
  
  font-weight: 500;
  font-size: 20px;
  color: #FFF;
  line-height: 60px;
  margin-left: 15px;
}

.contact_email{
  text-align: center;
  
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}
.contact_email a{
  color: #224898;
}