.background_image_coupon{
  background-image: url(/img/coupon/background.png);
}

.coupon_center_block{
  position: relative;
  width: 600px;
  margin: 100px auto 100px auto;
  z-index: 10;
  border-radius: 20px;
  overflow: hidden;
}
.coupon_center_block_background{
  padding: 15px;
  background: #FFF;
}
.block_coupon_logos{
  text-align: center;
}
.block_coupon_logos img{
  height: 70px;
}
.coupon_line{
  width: 100%;
  display: block;
  margin-top: -1px;
  margin-bottom: -1px;
}
.coupon_barcode{
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  color: #000;
}
.coupon_barcode img{
  height: 100px;
}
.coupon_gray_block{
  padding: 15px 30px;
  font-size: 12px;
  background: #F4F4F4;
}

.coupon_buttons{
  text-align: center;
  margin-bottom: 15px;
}

.coupon_button{
  display: inline-block;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  color: #29327E;
  background: #F0F1FA;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}
.coupon_button_icon{
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  
}
.coupon_button_icon svg{
  width: 20px;
  height: 20px;
  display: block;
}
.coupon_button_text{
  line-height: 50px;
  font-weight: 500;
  font-size: 16px;
  float: left;
  margin-left: 10px;
}

.coupon_info{
  font-size: 14px;
  text-align: center;
}

.pop_up_coupon{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  background: rgba(0,0,0,0.5);
}


.pop_up_coupon_center{
  position: relative;
  width: 570px;
  padding: 15px;
  margin: 100px auto 100px auto;
  z-index: 10;
  border-radius: 20px;
  overflow: hidden;
  background: #FFF;
}

.pop_up_coupon_year{
  height: 40px;
  border-radius: 20px;
  background: #72BF44;
  color: #FFF;
  padding-left: 20px;
  padding-right: 20px;
  width: 185px;
  margin: 0px auto 15px auto;
}

.pop_up_coupon_year_icon{
  float: left;
  width: 20px;
  height: 40px;
  background-image: url(/img/coupon/gift-white.svg);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.pop_up_coupon_year_text{
  float: left;
  margin-left: 10px;
  line-height: 40px;
}
.pop_up_coupon_close{
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url(/img/coupon/close.svg);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.buttons_social{
  display: flex;
  justify-content: center;
}
.buttons_social .button_blue{
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.button_blue_icon_fb{
  background-size: 15px 12px;
  background-image: url(/img/coupon/fb.svg);
  width: 14px;
}
.button_blue_icon_vk{
  background-size: 14px 20px;
  background-image: url(/img/coupon/vk.svg);
  width: 14px;
}
.button_blue_fb{
  background: #415DAE;
}

.button_blue_vk{
  background: #5181B8;
}


