.index_backgound{
  position: fixed;
  right: 0;
  height: calc(100% - 62px);
  bottom: 0;
  width: 50%;
}

.index_backgound_image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/index/background.png);
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.index_backgound_line{
  position: absolute;
  left: -1px;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/index/backound_line.png);
  background-size: contain;
  background-position: left;
  z-index: 1;
  background-repeat: no-repeat;
}

.index_content{
  width: 50%;  
}

.index_title{
  font-size: 48px;
  font-family: IBM Plex Serif;
  font-weight: 600;
  margin-top: 100px;
}

.index_description{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}
.index_button{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 232px;
  height: 55px;
  background: linear-gradient(270deg, #069ACD 0%, #224898 100%);
  border-radius: 70px;
  line-height: 55px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;

}
.index_points{
  margin-bottom: 30px;
}
.index_point{
  margin-top: 20px;
  overflow: hidden;
}
.index_point_number{
  width: 40px;
  height: 40px;
  background: #F0F1FA;
  
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #29327E;
  
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  
  float: left;
}
.index_point_text{
  float: left;
  
  font-family: IBM Plex Sans;
  font-style: normal;
  font-size: 16px;
  color: #444;
  margin-left: 20px;
  
  padding-top: 0px;
  padding-bottom: 7px;
  
  width: calc(100% - 60px);
}


.info_finish{
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(270deg, #069ACD 0%, #224898 100%);
  border-radius: 5px;
  float: left;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #FFF;
  font-weight: 600;
}


.index_action_end{
  height: 55px;
  border-radius: 47px;
  background: #FAF0F2;
  float: left;
  margin-top: 10px;
}
.index_action_end img{
  float: left;
  width: 25px;
  margin-left: 15px;
  margin-top: 15px;
}
.index_action_end_text{
  font-size: 13px;
  line-height: 20px;
  margin-top: 7.5px;
  margin-left: 10px;
  margin-right: 20px;
  float: left;
}
.index_action_end_text_1{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
}