.background_image_partners{
  background-image: url(/img/partners/background.png);
}
.content_partners{
  padding: 15px;
  border-radius: 20px;
  background: #FFF;
  margin-top: 100px;
  margin-bottom: 100px;
}

.partners_image{
  float: left;
  margin: 10px;
}
.partners_text{
  font-size: 16px;
  overflow: hidden;
  color: #202124;
}
.partners_gray_block{
  background: #F4F4F4;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  
}
.partners_gray_block .partners_text{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.partners_gray_block .partners_text div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button_blue_partners{
  margin: 40px auto 20px auto;
}
.button_border_partners{
  margin: 20px auto;
}