.video_container{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

}
.video_loop{
	display: none;
}
.video_container video{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
	background: #000;
}
.video_container .video{
	object-fit: contain;
}

.test_container{
	display: none;
	position: relative;
	width: 500px;
	padding: 15px;
	margin: 100px auto 100px auto;
	z-index: 10;
	background: #FFF;
	border-radius: 20px;
}


.tests_question{
	
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.test_answer{
	width: 360px;
	margin: 10px auto;
	text-align: center;
	padding: 12px;
	color: #29327E;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	cursor: pointer;

	border: 2px solid rgba(41, 50, 126, 0.7);
	box-sizing: border-box;
	border-radius: 5px;
}

.your_sale{
	
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}
.sale_block{
	width: 350px;
	margin: 15px auto;
	overflow: hidden;
}
.sale_block_circle{
	width: 50px;
	height: 50px;
	background: #F0F0F0;
	border: 3px solid #E4E4E4;
	box-sizing: border-box;
	float: left;
	border-radius: 50%;
	line-height: 44px;
	text-align: center;
	
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
}
.sale_block_line{
	height: 6px;
	float: left;
	width: 50px;
	background: #F0F0F0;
	margin-top: 22px;
}


.sale_block_section.active .sale_block_line{
	background: #4969AB;
}

.sale_block_section.active .sale_block_circle{
	background: #4969AB;
	border: 3px solid #335499;
	color: #FFF;
}


.video_container_loader{
	position: absolute;
	z-index: 2;
	width: calc(100% - 100px);
	height: 4px;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.25);
	top: 25px;
	left: 50px;
}
.video_container_loader_line{
	position: absolute;
	z-index: 2;
	height: 4px;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.25);
}

.video_container_skip{
	position: absolute;
	right: 50px;
	top: 50px;
	color: #FFF;
	cursor: pointer;
	font-size: 14px;
}



.answer_text_block{
	padding: 15px;
	background: #F6F6F9;
	font-size: 16px;
	border-radius: 12px;
	margin-bottom: 15px;
	margin-top: 15px;
}
.answer_text_block img{
	width: 100%;
	display: block;
}

.button_next_question{
	margin: 15px auto;
}


button[disabled]{
	opacity: 0.4;
	cursor: default;
}

.button_play{
	display: none;
	position: absolute;
	left: calc(50% - 30px);
	top: calc(50% - 30px);
	z-index: 1000;
	width: 60px;
	height: 60px;
	background-image: url(/img/tests/player/play.svg);
	background-size: 60px 60px;
	cursor: pointer;
	pointer-events: none;
}
