.wins_info{
  font-size: 12px;
  color: #515154;
}
.wins_table{
  margin-top: 15px;
  margin-bottom: 15px;
  
}


.wins_table_row{
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}
.wins_table_row:nth-child(2n){
  background: #F4F4F4;
}
.wins_table_col{
  float: left;
  width: calc(33.33% - 45px);
  margin-left: 10px;
}
.wins_table_col_number{
  width: 90px;
}

.wins_table_header{
  background: linear-gradient(270deg, #069ACD 0%, #224898 100%);
  color: #FFF;
  border-radius: 10px 10px 0px 0px;
}
