@media screen and (max-width:910px){
  .menu a{
    font-size: 14px;
  }
  .menu li{
    margin-right: 20px;
  }
}
@media screen and (max-width:910px){
  .index_title{
    font-size: 40px;
  }
  .index_description{
    font-size: 14px;
  }
}


@media screen and (max-width:480px){
  
  body{
    width: 480px;
  }
  .video_container{
    background: #000;
  }
  .mobile_content{
    object-fit: contain !important;
  }
  .header{
    height: 80px;
  }
  .header_logo img{
    height: 70px;
  }
  .content{
    width: 450px;
    min-width: 450px;
  }
  .menu{
    display: none;
  }
  .header_button{
    display: none;
  }
  .index_backgound{
    display: block;
    position: relative;
    height: 480px;
    width: 100%;
  }
  .index_backgound_line{
    background-image: url(/img/index/backound_line_mobile.png);
    background-position: top;
    left: 0;
    top: -1px;
  }
  .index_point{
    margin-top: 10px;
  }
  .video_container_loader{
    width: calc(100% - 100px);
    left: 50px;
    bottom: 50px;
  }
  .video_container_skip{
    right: 50px;
    bottom: 70px;
    font-size: 20px;
  }
  .test_container{
    width: 420px;
  }
  .auth_block{
    width: 420px;
    margin-top: 97px;
  }
  .coupon_center_block{
    width: 450px;
    margin-top: 97px;
  }
  .content_partners{
    width: 420px;
    margin-top: 97px;
  }
  .contact_center_block{
    width: 420px;
    margin-top: 97px;
  }
  .button_burger{
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    background: #EBF1F7;
    border-radius: 4px;
    margin: 20px;
    margin-right: 0;
    background-image: url(/img/layouts/burger_menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .button_burger.js-close-menu{
    background-image: url(/img/layouts/burger_close.svg);
  }
  .index_content{
    width: 100%;
  }
  .mobile_menu{
    display: none;
    position: absolute;
    left: 0;
    top: 82px;
    width: 100%;
    background: #FFF;
  }
  .mobile_menu ul{
    margin: 0;
    padding: 0;
  }
  .mobile_menu li{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 2px solid rgba(34, 72, 152, 0.1);
  }
  .mobile_menu li a{
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 600;

  }
  .mobile_menu_button_start{
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #224898;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    display: block;
  }
  .wins_table_col{
    font-size: 14px;
    margin-left: 5px;
    width: calc(33.33% - 14px);
  }
  .wins_table_col_number{
    width: 20px;
    font-size: 12px;
  }
  .coupon_gray_block{
    font-size: 10px;
  }
  .wins_info{
    font-size: 10px;
  }
  
  .pop_up_coupon_center{
    width: 420px;
    margin-top: 75px;
  }
  .buttons_social{
    display: block;
  }
  .buttons_social .button_blue{
    margin: 15px auto;
  }
}