<div class="background_area">
  <div class="background_image background_image_partners"></div>
</div>

<div class="content">
  <div class="content_partners">
    <div class="center_block_title">
      Правила проведения рекламной акции
    </div>
      
<p><strong>«Сохраняйте леса России вместе с нами»</strong></p>

<p><strong>(ДАЛЕЕ – ПРАВИЛА)</strong></p>



<p><strong>1.</strong>   <strong>НАИМЕНОВАНИЕ АКЦИИ</strong></p>

<p>1.1. Акция под названием «Сохраняйте леса России вместе с нами» (далее – Акция) проводится для содействия ответственному управлению лесами (лесовосстановлению: посадкой саженцев с ЗКС или ОКС; и уходом за лесом: агроуходами и рубками ухода в молодняках — в соответствии с Правилами ухода за лесами и Правилами лесовосстановления). Акция также направлена на привлечение внимания целевой аудитории к продукции, реализуемой под товарным знаком «Zewa» (далее – Продукция») в магазинах сети «Пятерочка».</p>

<p>1.2. С каждой реализованной единицы Продукции в акции за период с «01» июня 2021 года по «30» июня 2021 года Организатор перечисляет в срок до «30» сентября 2021 года 1 (Один) рубль в Ассоциацию «Национальная рабочая группа по добровольной лесной сертификации» (организация представляет интересы и является национальным партнером FSC в РФ (в статусе национального офиса FSC)) для содействия ответственному управлению лесами России.</p>



<p><strong>2.</strong>  <strong>ОРГАНИЗАТОР, ОПЕРАТОР, ПАРТНЕР, БЛАГОПОЛУЧАТЕЛЬ АКЦИИ</strong></p>

<p>2.1. Организатор Акции (далее – Организатор): ООО «Эссити»; ИНН/КПП 4704031845/997150001; ОГРН 1024700877200; Юридический адрес: 117218, г. Москва, ул. Кржижановского, д. 14, корп. 3; Фактический адрес: 117218, г. Москва, ул. Кржижановского, д. 14, корп. 3</p>

<p>2.2. Оператор Акции (далее – Оператор): ООО «Евентум. Конференции и семинары», Юр. адрес - 105082, г. Москва, Спартаковский пер, дом 2 стр.1, этаж 2; ОГРН 1077762063499; ИНН 7701752869; КПП 770101001</p>

<p>2.3. Партнер Акции (далее – Партнер): ООО «Агроторг»; &nbsp;ИНН/КПП &nbsp; 7825706086/785050001, ОГРН 1027809237796, &nbsp;юр. адрес Россия ,191025, г. Санкт-Петербург, пр. Невский, 90/92, факт. адрес 109029, Москва, ул. Средняя Калитниковская д.28, стр 4</p>

<p>2.4. Благополучатель Акции (далее – Благополучатель): Ассоциация «Национальная рабочая группа по добровольной лесной сертификации» (Ассоциация «НРГ»); ИНН/КПП 7709471161/771001001, ОГРН 1117799013199, Юридический адрес: 125047 Москва, ул. 2-я Брестская, д. 46, стр. 1, эт.3, пом. 8, Фактический адрес: 125047 Москва, ул. 2-я Брестская, д. 46, стр. 1, эт.3, пом. 8</p>



<p><strong>3.</strong>   <strong>УЧАСТНИКИ АКЦИИ</strong></p>

<p>3.1.  В Акции могут принимать участие все дееспособные, достигшие 18-летнего возраста (совершеннолетия), граждане Российской Федерации, постоянно проживающие на территории Российской Федерации (далее – Участники Акции).</p>

<p>3.2.  В Акции запрещается участвовать работникам и представителям Организатора, Оператора и Партнера Акции,  членам семей таких работников и представителей, равно как и работникам, и представителям любых других юридических лиц, имеющих отношение к организации и/или проведению Акции, а также членам их семей.</p>

<p></p>

<p><strong>4.</strong>  <strong>МЕСТО ПРОВЕДЕНИЯ АКЦИИ</strong></p>

<p>4.1. Акция проводится в сети Интернет на сайте save-forest-with-zewa-i-5ka.ru (далее – Сайт) и в магазинах сети «Пятёрочка» («X5 Retail Group»).</p>



<p><strong>5.</strong>  <strong>СРОКИ ПРОВЕДЕНИЯ АКЦИИ</strong></p>

<p>5.1.  Общий срок проведения Акции: с «01» июня 2021 года по «31» августа 2021 года включительно (далее – «Период проведения Акции»). Период проведения Акции включает в себя:</p>

<p>5.1.1. Период участия в Акции (период прохождения Участниками видео-теста на Сайте) – с «01» июня 2021 года по «30» июня 2021 года включительно (далее - Период участия);</p>

<p>5.1.2. Период вручения призов «Купон» – с «01» июня 2021 года по «30» июня 2021 года включительно (далее – Период вручения призов) или до окончания количества призов «Купон» на скидку определенного номинала, в зависимости от того, что наступит ранее.</p>

<p>5.1.3. Период реализации призов «Купон» - с «01» июня 2021 года по «31» августа 2021 года включительно.</p>

<p>5.1.4. Даты определения обладателей Главных призов - 07 июня 2021 года, 14 июня 2021 года, 21 июня 2021 года, 01 июля 2021 года</p>

<p>5.1.5. Период вручения Главных призов – с «02» июля 2021 года по «31» августа 2021 года включительно (далее – Период вручения Главных призов).</p>

<p>5.2. Организатор имеет право в одностороннем порядке продлить или досрочно завершить период проведения Акции.</p>

<p>5.3. Указанное в настоящих Правилах время – московское. Все действия лиц, желающих принять участие в Акции, участников Акции, Организатора фиксируются по московскому времени.</p>



<p><strong>6.</strong>  <strong>СПОСОБЫ ИНФОРМИРОВАНИЯ УЧАСТНИКОВ АКЦИИ</strong></p>

<p>6.1. Участники Акции будут информироваться о Правилах и сроках проведения Акции следующими способами:</p>

<p>- в сети Интернет в сети Интернет на Сайте путем размещения полных Правил Акции;</p>

<p> </p>

<p></p>

<p><strong>7.</strong>   <strong>ПРИЗОВОЙ ФОНД</strong></p>

<p>7.1. Призовой фонд Акции формируется за счет средств Организатора Акции.</p>

<p>7.2. Призовой фонд Акции включает в себя:</p>

<p>7.2.1. <strong>Призы «Купоны»</strong> – купон, предоставляющий право на получение скидки определенного номинала на Продукцию, участвующую в Акции, в любом из магазинов торговой сети «Пятерочка» на территории РФ  в период, указанный в п.5.1.3. Правил.</p>



<p>Количество Призов «Купон» ограничено. Купон на скидку действует исключительно на Продукцию Организатора, участвующую в Акции.</p>



<table style="text-align: center" border='1' bordercolor='#aaa' cellpadding="5" cellspacing="0">
	<tbody>
		<tr>
			<td valign="top">

				<p>Наименование</p>
			</td>
			<td valign="top">

				<p>Номинал</p>
			</td>
			<td valign="top">

				<p>Количество</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>Купон на скидку</p>
			</td>
			<td valign="top">

				<p>20%</p>
			</td>
			<td valign="bottom">

				<p>6 500</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>Купон на скидку</p>
			</td>
			<td valign="top">

				<p>30%</p>
			</td>
			<td valign="bottom">

				<p>11 500</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>Купон на скидку</p>
			</td>
			<td valign="top">

				<p>40%</p>
			</td>
			<td valign="bottom">

				<p>13 000</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>Купон на скидку</p>
			</td>
			<td valign="top">

				<p>50%</p>
			</td>
			<td valign="bottom">

				<p>30 000</p>
			</td>
		</tr>
	</tbody>
</table>



<p>7.2.2. Главный приз - «Годовой запас Zewa» - 40 (сорок) штук</p>

<table border='1' bordercolor='#aaa' cellpadding="5" cellspacing="0">
	<tbody>
		<tr>
			<td valign="top">

				<p>Наименование</p>
			</td>
			<td valign="top">

				<p>Количество</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>Туалетная Бумага ЗЕВА 2-ух сл. БЕЛАЯ 8 рул.</p>
			</td>
			<td valign="top">

				<p style="text-align: center" >6</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>Влажная туалетная бумага ЗЕВА ПЬЮР, 42шт.</p>
			</td>
			<td valign="top">

				<p style="text-align: center" >8</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>Бумажные Полотенца ЗЕВА ПРЕМИУМ Декор (2 рул.)</p>
			</td>
			<td valign="top">

				<p style="text-align: center" >5</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>Носовые Платки ЗЕВА ДИЗАЙН 1шт x10х24</p>
			</td>
			<td valign="top">

				<p style="text-align: center" >1</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>Салфетки Бумажные Косметические Зева Делюкс Дизайн 90 шт.</p>
			</td>
			<td valign="top">

				<p style="text-align: center" >6</p>
			</td>
		</tr>
	</tbody>
</table>





<p><strong>8.</strong>   <strong>ПОРЯДОК УЧАСТИЯ В АКЦИИ И ПОРЯДОК ОПРЕДЕЛЕНИЯ ОБЛАДАТЕЛЕЙ ПРИЗОВ АКЦИИ</strong></p>



<p>8.1. Для участия в Акции Участник в Период участия в Акции должен пройти видео -тест на Сайте. Для прохождения необходимо:</p>

<ul>
	<li>нажать кнопку «Старт»,</li>
	<li>посмотреть видеоролики и после каждого видеоролика ответить на вопрос</li>
	<li>в случае наличия хотя бы одного правильного ответа на вопросы видео-теста, ввести в форму на Сайте адрес электронной почты Участника и контактный телефон</li>
</ul>



<p>8.1.1. Всего рамках видео-теста предусмотрено 4(четыре) видеоролика и 4 (четыре) вопроса, по одному к каждому видеоролику.</p>



<p>8.2. Обладатели приза «Купон» определяются в зависимости от количества правильных ответов Участника Акции на вопросы видео-теста:</p>



<p>Один правильный ответ – Участник получает приз «Купон» номиналом 20%</p>

<p>Два правильных ответа – Участник получает приз «Купон» номиналом 30%</p>

<p>Три правильных ответа – Участник получает приз «Купон» номиналом 40%</p>

<p>Четыре правильных ответа – Участник получает приз «Купон» номиналом 50%</p>



<p>В случае, если призы «Купон» того номинала, который заработал Участник, закончились, Участнику получает приз «Купон» большего номинала , если имеются в наличии, если нет, то купон меньшего номинала ( так же если имеется в наличии).</p>



<p>8.3. Видео-тест на Сайте один Участник может пройти только один раз. Таким образом общее количество призов «Купон», которое может получить, один Участник составляет 1 (один) приз.</p>



<p>8.4. <strong>Для возможности получения Главного приза</strong> Участник Акции должен сделать репост своих результатов Видео-теста на стене своего личного аккаунта в социальной сети Vkontakte (<a href="http://www.vk.com">www.vk.com</a>) или в социальной сети Facebook (www.facebook.com), оставить электронную почту и номер телефона на Сайте  и верифицировать (подтвердить) номер телефона , путем введения в специальную форму на Cайте кода, направленного на номер телефона Участника.</p>

<p><strong>Аккаунт участника в социальной сети Vkontakte (</strong><a href="http://www.vk.com"><strong>www.vk.com</strong></a><strong>) или в социальной сети Facebook (www.facebook.com), должен быть открытым и позволять видеть произведенный Участником репост любым пользователям социальной сети Vkontakte (</strong><a href="http://www.vk.com"><strong>www.vk.com</strong></a><strong>) или социальной сети Facebook (www.facebook.com). </strong>Каждому Участнику присваивается порядковый номер Участника.</p>

<p>8.4.1.  Каждую неделю в течение Периода определения обладателей призов, согласно срокам, указанным в п.5.1.4. настоящих Правил, разыгрываются 10 (десять) Главных призов.</p>

<p>Из всех Участников Акции, выполнивших все действия, указанные в п. 8.4. настоящих Правил, Оператор формирует реестр (далее – Реестр), Реестр содержит уникальный идентификатор участника. Каждой записи Реестра присваивается уникальный номер (далее по тексту «регистрационный номер») по которому при помощи использования генератора случайных чисел (https:// <a href="https://randomus.ru/">randomus.ru</a>) в каждую дату из указанных в п.8.4.3., выбираются 10 (Десять) победителей, каждый из которых получает один Главный приз.</p>

<p>Регистрационный номер не является порядковым номером.</p>



<p>8.4.2. Один Участник Акции за весь период Акции может получить не более одного Главного приза Акции.</p>

<p>8.4.3 <strong>Даты еженедельного определения обладателей Главного приза:</strong></p>



<table border='1' bordercolor='#aaa' cellpadding="5" cellspacing="0">
	<tbody>
		<tr>
			<td valign="top">

				<p>Дата определения обладателя Главного приза</p>
			</td>
			<td valign="top">

				<p>Дата репост результатов Видео-теста Участником</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>07 июня 2021 года</p>
			</td>
			<td valign="top">

				<p>с 01 июня 2021 года по 06 июня 2021 года включительно</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>14 июня 2021 года</p>
			</td>
			<td valign="top">

				<p>с 07 июня 2021 года по 13 июня 2021 года включительно</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>21 июня 2021 года</p>
			</td>
			<td valign="top">

				<p>с 14 июня 2021 года по 20 июня 2021 года включительно</p>
			</td>
		</tr>
		<tr>
			<td valign="top">

				<p>01 июля 2021 года</p>
			</td>
			<td valign="top">

				<p>с 21 июня 2021 года по 30 июня 2021 года включительно</p>
			</td>
		</tr>
	</tbody>
</table>



<p>8.4.4.  Финальный список обладателей Главных призов будет опубликован на Сайте.</p>











<p><strong>9.</strong>  <strong>ПОРЯДОК ПОЛУЧЕНИЯ И РЕАЛИЗАЦИИ ПРИЗОВ АКЦИИ</strong></p>



<p>9.1. Участник Акции, признанный обладателем приза<strong>«Купон»</strong> в соответствии с настоящими Правилами, информируется о получении данного приза на сайте и по электронной почте.</p>

<p>9.2. Призы «Купон» направляются их обладателям на электронную почту, указанную Участником после прохождения видео-теста на Сайте не позднее 3 (трех) дней после определения их обладателей.</p>

<p>9.3.  Призы «Купон» участники Акции могут использовать при покупке Продукции, участвующей в Акции, в любом из магазинов торговой сети «Пятерочка» на территории РФ в период, указанный в п.5.1.3. Правил.</p>

<p>9.4.  Для использования приза «Купон» обладатель должен предъявить его в распечатанном или в электронном виде на кассе до оплаты покупки в любом из магазинов торговой сети «Пятерочка» на территории РФ.</p>

<p>9.5.  Приз «Купон» (можно использовать при условии покупки не менее 1 (одного) наименования из Перечня Продукции, перечисленной в разделе 10 настоящих Правил.</p>

<p>9.6.  Купон на скидку действует только в отношении Продукции, участвующей в Акции, и не действует на иные товары.</p>

<p>9. 7.  Максимальная стоимость Продукции, участвующей в Акции, после использования Купона на скидку, не может превышать 1000 рублей.</p>

<p>9.8.  Приз «Купон» не суммируется с другими акциями и предложениями.</p>

<p>9.10. Приз «Купон» можно использовать только при совершении одной покупки и нельзя использовать частично в нескольких покупках.</p>

<p>9.11. Участник Акции, признанный обладателем Главного приза<strong></strong>в соответствии с настоящими Правилами, информируется о получении данного приза на Сайте и по электронной почте или по номеру телефона. Участник Акции для вручения ему Главного приза сообщает Оператору Акции свои фамилию, имя , отчество и адрес для доставки Главного приза. Главный приз направляется Организатором Участнику по почте РФ или курьерской доставкой, на имя и на адрес, указанный Участником, признанным обладателем Главного приза.</p>





<p><strong>10.</strong> <strong>ПЕРЕЧЕНЬ ПРОДУКЦИИ, КОТОРАЯ УЧАСТВУЕТ В АКЦИИ</strong></p>

<p></p>

<p></p>

<table border='1' bordercolor='#aaa' cellpadding="5" cellspacing="0">
	<tbody>
		<tr>
			<td valign="middle">

				<p>Туалетная Бумага ЗЕВА 2-ух сл. С АРОМАТОМ ЯБЛОКА  4 рул.</p>

				<p>Туалетная Бумага ЗЕВА 2-ух сл. С АРОМАТОМ ОКЕАНИЧЕСКОЙ СВЕЖЕСТИ 4 рул.</p>

				<p>Туалетная Бумага ЗЕВА 2-ух сл. БЕЛАЯ 12 рул.</p>

				<p>Туалетная Бумага ЗЕВА 2-ух сл. С АРОМАТОМ РОМАШКИ 8 рул. КУБ</p>

				<p>Туалетная Бумага ЗЕВА ДЕЛЮКС 3-х сл. ПЕРСИК 4 рул.</p>

				<p>Туалетная Бумага ЗЕВА ДЕЛЮКС 3-х сл. ОРХИДЕЯ 4 рул.</p>

				<p>Туалетная Бумага ЗЕВА ДЕЛЮКС 3-х сл. БЕЛАЯ 8 рул. КУБ</p>

				<p>Туалетная Бумага ЗЕВА ДЖАСТ 1, 4-х сл. 4 рул.</p>

				<p>Туалетная Бумага ЗЕВА Нейчерал Софт 4-х сл. 4 рул.</p>

				<p>Салфетки Бумажные Косметические Зева Делюкс Дизайн 90 шт.</p>

				<p>Салфетки Бумажные Косметические Зева ЕВРИДЕЙ 100 шт.</p>

				<p>Носовые Платки ЗЕВА ДИЗАЙН 1шт x10х24</p>

				<p>Носовые Платки ЗЕВА ДЕЛЮКС С АРОМ. РОМАШКИ 10шт.х10</p>

				<p>Влажная туалетная бумага ЗЕВА РОМАШКА, 42шт.</p>

				<p>Влажная туалетная бумага ЗЕВА ПЬЮР, 42шт.</p>

				<p>Бумажные Полотенца ЗЕВА ПРЕМИУМ Декор (2 рул.)</p>

				<p>Бумажные Полотенца ЗЕВА (2 рул.)</p>
			</td>
		</tr>
	</tbody>
</table>





<p><strong>11.</strong> <strong>ПРАВА И ОБЯЗАННОСТИ ОРГАНИЗАТОРА И ОПЕРАТОРА</strong></p>



<p>11.1.<strong>Обязанности Организатора и Оператора:</strong></p>

<p>11.1.1. Оператор обязан опубликовать подробную информацию об Организаторе и Операторе Акции, правилах ее проведения, победителях, количестве призов, сроках, месте и порядке их получения на Сайте.</p>

<p>11.1.2. Организатор обязуется вручить Призы Участникам Акции в порядке, предусмотренном в разделе 9 настоящих Правил.</p>

<p>11.1.3. Оператор обязан в случае досрочного прекращения или внесения изменений в настоящие Правила и порядок проведения Акции, уведомить Участников Акции, разместив информацию об этом на Сайте.</p>

<p></p>

<p>11.2.<strong>Права Организатора и Оператора</strong>:</p>

<p>11.2.1.  Организатор и Оператор Акции пользуются всеми правами, предусмотренными настоящими Правилами и действующим законодательством РФ.</p>

<p>11.2.2.  Если по обстоятельствам, зависящим от Участника Акции, не выполнившего все условия, предусмотренные настоящими Правилами (в т. ч., но не ограничиваясь: настройки электронной почты Участника Акции не будут позволять направить Участнику Акции  приз «Купон»), Оператору не удается вручить Приз Акции, указанное обстоятельство считается отказом Участника Акции от получения Приза.</p>

<p>11.2.3.  Организатор оставляет за собой право отказать во вручении Призов Акции, если Участник Акции не соответствует требованиям настоящих Правил и/или не соблюдает настоящие Правила.</p>

<p>11.2.4.  Организатор оставляет за собой право отказать во вручении Призов Акции Участникам Акции, нарушившим положения настоящих Правил. Организатор определяет наличие факта нарушения настоящих Правил по своему усмотрению.</p>

<p>11.2.5.  Организатор и Оператор оставляют за собой право не вступать в переписку либо в иные контакты с Участниками Акции, за исключением указанных в настоящих Правилах.</p>

<p>11.2.6.  Призы не подлежат замене, в том числе, на денежный эквивалент.</p>



<p>11.3.<strong>Права Участника Акции:</strong></p>

<p>11.3.1.  Принимать участие в Акции в порядке, определенном настоящими Правилами.</p>

<p>11.3.2.  Получать информацию о времени прохождения Акции и условиях в соответствии с Правилами на Сайте.</p>

<p>11.3.3.  Получать информацию об изменениях в Правилах Акции на Сайте.</p>

<p>11.3.4.  Требовать выдачи Призов в порядке, предусмотренном настоящими Правилами. Количество призов ограничено согласно п. 7. настоящих Правил.</p>

<p></p>

<p>11.4. <strong>Обязанности Участника Акции:</strong></p>

<p>11.4.1.  Ознакомиться с Правилами Акции, самостоятельно отслеживать изменения Правил Акции на Сайте.</p>

<p>11.4.2.  Соблюдать Правила Акции.</p>

<p>11.4.3.  Для получения Призов Акции выполнить все необходимые действия, предусмотренные настоящими Правилами.</p>

<p>11.4.4.  Уплачивать налоги и сборы, если такая обязанность возникает в результате участия в Акции и/или получения призов Акции в соответствии с действующим законодательством.</p>





<p><strong>12.</strong> <strong>ОСОБЫЕ УСЛОВИЯ</strong></p>

<p>12.1.Организатор и Оператор Акции не несут ответственность, включая, но, не ограничиваясь, за: неисполнение (несвоевременное исполнение) Участниками Акции обязанностей, предусмотренных настоящими Правилами.</p>

<p>12.2.Призы Акции, которые в рамках Акции были направлен Участнику Акции, выполнившим все условия, предусмотренные настоящими Правилами и признанным обладателем Приза, повторно не направляются.</p>

<p>12.3.1. Принимая участие в Акции, участник, действуя своей волей и в своем интересе, дает свое безусловное согласие Оператору и Организатору на обработку своих персональных данных с использованием и без использования средств автоматизации на следующих условиях: персональные данные будут использоваться Оператором и Организатору в связи с проведением настоящей Акции . Согласие дается на совершение следующих действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в случаях и в объеме, предусмотренных законодательством Российской Федерации и настоящими Правилами), обезличивание, блокирование, уничтожение персональных данных. Обработка персональных данных производится в Период проведения Акции, указанный в п.5.1. настоящих Правил.</p>

<p>12.3.2. Перечень персональных данных участника Акции, обработка которых будет производиться Оператором: адрес электронной почты, номер телефона, фамилия, имя, отчество, адрес. Перечень персональных данных участника Акции, обработка которых будет производиться Организатором: фамилия, имя, отчество, адрес. Персональные данные, перечисленные в настоящем пункте, обрабатываются Оператором с целями идентификации участников Акции, определения победителей Акции и возможности коммуникации с участниками Акции, признанными обладателями приза Акции, Акции. Персональные данные, перечисленные в настоящем пункте, обрабатываются Организатором с целями доставки Главных призов победителям Акции. </p>



<p>12.3.3. Персональные данные, полученные Оператором и Организатором, хранятся в соответствии с требованиями законодательства РФ на условиях конфиденциальности. Участник соглашается с тем, что его персональные данные, полученные Оператором и Организатором, могут быть переданы третьим лицам с соблюдением требований законодательства РФ и на условиях конфиденциальности в случае, если это необходимо для целей выдачи Приза участнику Акции.</p>

<p>12.3.4. Участвуя в Акции, Участник тем самым подтверждает, что он ознакомлен с правами, касающимися его персональных данных, в том числе с тем, что он может отозвать свое согласие на обработку персональных данных, обратившись к Оператору и Организатором путем направления письма по электронной почте на адрес support@save-forest-with-zewa-i-5ka.ru. В случае отзыва согласия на обработку персональных данных Участник не допускается к дальнейшему участию в Акции и теряет право на получение Приза.</p>

<p>12.4.Все Участники Акции самостоятельно оплачивают все расходы, понесенные ими в связи с участием в Акции (в том числе, без ограничений, расходы, связанные с доступом в Интернет).</p>

<p>12.5.Участие в Акции подразумевает ознакомление и полное согласие Участников Акции с настоящими Правилами.</p>

<p>12.6.В случае если по завершении Акции остались нераспределенные Призы Акции, Организатор оставляет за собой право распорядиться такими Призами по своему усмотрению любыми способами, не противоречащими действующему законодательству Российской Федерации.</p>

<p>12.7.Несвоевременное прочтение Участниками Акции уведомлений о получении Приза Акции не является уважительной причиной для продления срока реализации Приза.</p>

<p>12.8.С момента получения приза Участником Акции последний несет риск его порчи или утраты.</p>

<p>12.9. Организатор ненесет ответственность задоставку, правильность исвоевременность доставки попочте или курьерской доставкой. В случае если призы, высланные курьерской службой или почтой РФ, утеряны или повреждены по вине курьерской службы или почты РФ, Организатор не несет ответственности за утрату отправленных призов.</p>

<p>12.10. Организатор на свое собственное усмотрение с учётом положений действующего законодательства Российской Федерации и настоящих Правил может запретить дальнейшее участие в настоящей Акции любому лицу, которое подделывает или извлекает выгоду из подделки процесса подачи заявок на участие, или же проведения Акции, или же действует в нарушение настоящих Правил Акции, действует деструктивным образом, или осуществляет действия с намерением досаждать, оскорблять, угрожать или причинять беспокойство любому иному лицу, которое может быть связано с настоящей Акцией.</p>

<p>12.11. Организатор и Оператор не несут ответственность за работу операторов связи, связь с сетью Интернет, а также за качество работы интернет-провайдеров и их функционирование с оборудованием и программным обеспечением Участников Акции, а также за иные, не зависящие от Организатора и Оператора обстоятельства, равно как и за все, связанные с этим, негативные последствия.</p>

<p>12.12. В случае нарушения Участником Акции обязанностей, указанных в настоящих Правилах, повлекшего возникновение у Организатора убытков (в т. ч., но, не ограничиваясь: судебных издержек, связанных с выявлением фактов мошенничества и привлечения виновного к ответственности), Участник Акции обязан возместить такие убытки в полном объеме.</p>

<p>12.13. Все спорные вопросы, касающиеся настоящей Акции, регулируются на основе действующего законодательства РФ.</p>

<p></p>

<p></p>


  
    
  </div>
</div>