<div class="center_block_title">
	<% if @answer==true %>
		Верно!
	<% else %>
		Неверно!
	<% end %>
</div>


<div class="answer_text_block">
	<% if current_user.get_test_id=='2' %>
		<p>
			Обезле́сение — процесс превращения земель, занятых лесом, в земельные угодья без лесного покрова. Например, поля, плантации сельхозкультур, пастбища, города, пустоши и другие. 
		</p><p>
			Основная причина обезлесения — передача территорий, занятых лесом, под другие цели. В особенности — вырубка и выжигание леса под сельхозугодья. Другая заметная причина обезлесения — вырубка леса без восстановления. Также леса могут быть уничтожены вследствие естественных причин, таких как:  ураганы, болезни леса и изменение климата.
			Однако основной причиной обезлесения остается антропогенный фактор, включающий в себя вырубку и выжигания лесов, а также кислотные дожди. 
		</p><p>
			Основная причина возникновения лесных пожаров — тоже деятельность человека.
		</p>
	<% end %>
	
	<% if current_user.get_test_id=='3' %>
		<p>
			Рост выбросов парниковых газов в результате деятельности человека является ключевым фактором глобального потепления.
		</p><p>
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Global_Temperature_Anomaly.svg/langru-800px-Global_Temperature_Anomaly.svg.png" alt="">
		</p><p>
			Однако леса могут накапливать углерод при ответственном отношении человека к лесному хозяйству. Мы можем внести свой вклад в спасение планеты и всего живого на ней, сократив персональный углеродный след, выбирая бумажную продукцию, произведенную ответственным способом — такая продукция помечена маркировкой FSC.
		</p><p>
			<img src="/img/tests/graph.png" alt="">
		</p>
	<% end %>
	
	<% if current_user.get_test_id=='4' %>
		<p>
			Совсем не обязательно отказываться от всех бумажных товаров, чтобы сохранять леса и не вредить окружающей среде. Достаточно изменить подход к их выбору — например, покупать продукцию с маркировками FSC.
		</p><p>
			FSC, или Лесной попечительский совет, — международная некоммерческая неправительственная организация, устанавливающая стандарты для ответственного управления лесами, при котором соблюдается баланс экологических, экономических и социальных интересов.
		</p><p>
			Маркировка FSC гарантирует, что сырьё поступило из ответственно управляемых лесов. А это значит, что в хозяйстве ведут только легальную заготовку, заботятся о восстановлении леса, сохраняют биологическое разнообразие, а также соблюдают права работников и учитывают интересы местных жителей и коренных народов.
		</p><p>
			Почему это важно? По данным российских природоохранных организаций, не менее 15% заготовленного леса в нашей стране вырубают нелегально. Только четверть российских лесозаготовителей получили сертификаты FSC, то есть придерживаются международных стандартов ответственного управления лесами. Такие хозяйства необходимо поддерживать.
		</p>
	<% end %>
	
	<% if current_user.get_test_id=='auth' %>
		<p>
			Каждый из нас уже успел ощутить экологические проблемы на себе, но не все делают уверенные шаги навстречу природе.<br>
			Мы не сдаёмся и верим, что экологический этикет скоро войдёт у всех в привычку.<br>
			Дочитайте до конца и применяйте на деле, чтобы дольше радоваться красоте нашей планеты! 
		</p><p>
			Сортировка отходов это первый и самый эффективный способ заботы друг о друге. Если вы решили сортировать отходы, стоит разобраться, что можно сдавать на переработку, а от каких покупок стоит отказаться во имя природы.
		</p><p>
			Треугольники с цифрами внутри будут вашим верным помощником. Цифра помогает понять, какой это вид упаковки и можно ли его сдать на переработку.
		</p><p>
			А теперь поподробнее:
		</p><p>
			1.PET(E) или ПЭТ — полиэтилентерефталат: обычно это бутылки с выпуклой точкой на дне, в которых продают воду, газировку, молоко. Также из ПЭТ можно встретить прозрачные флаконы для шампуней, одноразовые пищевые контейнеры. Если видете единичку можно сдать на переработку.
		</p><p>
			2.PEHD (HDPE) или ПНД — полиэтилен низкого давления: канистры, крышки для бутылок, флаконы из-под косметики и бытовой химии. Двойку смело сдаём на переработку.
		</p><p>
			3.PVC или ПВХ — поливинилхлорид: блистеры, упаковки из-под таблеток, а также тортов и творога, термоусадочная плёнка, флаконы для косметики, игрушки. Практически невозможно переработать, по возможности выберете альтернативную упаковку привычным продуктам.
		</p><p>
			4.PELD (LDPE) или ПВД — полиэтилен высокого давления (низкой плотности): пакеты и плёнка. Поддаётся переработке, но куда сдать, придётся поискать. 
		</p><p>
			5.PP или ПП — полипропилен: крышки для бутылок, стаканчики для йогурта, упаковка линз, шуршащая пластиковая упаковка. Цифра пять на такой упаковке говорит, что можно сдать на переработку.
		</p><p>
			6.PS или ПС — полистирол, бывает обычный и вспененный. Из вспененного полистирола делают пенопласт, контейнеры для яиц, подложки для мяса и фасовки. Из обычного полистирола — стаканчики для йогурта и упаковку для компакт-дисков, а также почти всю одноразовую посуду. Можно сдать на переработку, но лучше избегать такую упаковку, она вредна.
		</p><p>
			7.O(ther) или ДРУГОЕ. Смесь различных пластиков или полимеры, не указанные выше. Например, упаковка для сыра, кофе, корма для животных. Грустно осознавать, но такая упаковка переработке не подлежит.
		</p>
	<% end %>
	
</div>

<%#render template: '/tests/sale_block.html.erb'%>

<% if current_user.get_test_id=='auth'%>
	<a href="/auth" class="button_blue button_next_question ym-goal" goal="next_4">
		<div class="button_blue_icon button_blue_icon_play">

		</div>
		<div class="button_blue_text">
			Продолжить
		</div>
	</a>
<% else %>
	<div class="button_blue button_next_question js-next-question ym-goal" goal="next_<%=current_user.get_test_id.to_i-1%>">
		<div class="button_blue_icon button_blue_icon_play">

		</div>
		<div class="button_blue_text">
			Продолжить
		</div>
	</div>
<% end %>