<div class="video_container">

  <div class="video_container_append">
    <%=render template: "/tests/video"%>
  </div>
	
  <% if request.base_url.include? 'h5gs93kvj6' or Rails.env.development? %>
    <div class="video_container_skip">
      пропустить
    </div>
  <% end %>
  
  <div class="button_play"></div>

	<div class="video_container_loader">
		<div class="video_container_loader_line"></div>
	</div>

</div>

<div class="test_container_parent">
  <div class="test_container">
    <%=render template: "/tests/question"%>
  </div>
</div>

