<div class="center_block_title">
	Вопрос <%=current_user.get_test_id%>/4
</div>
<div class="tests_question">
	<% if current_user.get_test_id=='1'%>
		Как вы думаете, какая причина сокращения лесных территорий является самой существенной?
	<% end %>
	<% if current_user.get_test_id=='2'%>
		Почему важно снижать углеродный след СО2 (выброс парниковых газов) при производстве продукции?
	<% end %>
	<% if current_user.get_test_id=='3'%>
		Как узнать, что при производстве конкретной упаковки туалетной бумаги и других товаров из древесины лес был срублен легально, а вырубка не затронула те участки леса, которые важны для сохранения биоразнообразия и поддержания климата? 
	<% end %>
	<% if current_user.get_test_id=='4'%>
	
		Каждое изделие из пластика имеет особую маркировку цифрами от 1 до 7, определяющую тип пластика и возможность переработки. Какие из перечисленных пластиковых изделий имеют маркировку о непригодности для повторного использования?

	<% end %>
	
</div>

<% if current_user.get_test_id=='1'%>
	<div class="test_answer js-set-answer" answer_id="1">
		Деятельность человека
	</div>
	<div class="test_answer js-set-answer" answer_id="2">
		Природные катаклизмы
	</div>
<% end %>

<% if current_user.get_test_id=='2'%>
	<div class="test_answer js-set-answer" answer_id="1">
		Влияет на экономику и стоимость топлива
	</div>
	<div class="test_answer js-set-answer" answer_id="2">
		Приводит к изменению климата и глобальному потеплению
	</div>
<% end %>

<% if current_user.get_test_id=='3'%>
	<div class="test_answer js-set-answer" answer_id="1">
		На упаковке таких товаров написано, что они "экологичные"
	</div>
	<div class="test_answer js-set-answer" answer_id="2">
		На упаковке таких товаров стоит маркировка FSC
	</div>
<% end %>


<% if current_user.get_test_id=='4'%>
	<div class="test_answer js-set-answer" answer_id="1">
		Бутылки из под воды и йогуртов
	</div>
	<div class="test_answer js-set-answer" answer_id="2">
		Блистеры, упаковки для замороженных продуктов
	</div>
	<div class="test_answer js-set-answer" answer_id="3">
		Цветочные кашпо, упаковка от косметики
	</div>
	<div class="test_answer js-set-answer" answer_id="4">
		Одноразовая посуда
	</div>
<% end %>


<hr style="width: 360px">

 
<%#render template: '/tests/sale_block.html.erb'%>


