<% if Coupon.exists?(used: false)%>
	<div class="your_sale">
		Ваша скидка: <b><%=current_user.sale%>%</b>
	</div>


	<div class="sale_block">

		<div class="sale_block_section <% if current_user.sale>=20%>active<% end %>">
			<div class="sale_block_circle">
				20%
			</div>
			
		</div>
		

		<div class="sale_block_section <% if current_user.sale>=30%>active<% end %>">
			<div class="sale_block_line">
				
			</div>
			<div class="sale_block_circle">
				30%
			</div>
		</div>
		

		<div class="sale_block_section <% if current_user.sale>=40%>active<% end %>">
			<div class="sale_block_line">
				
			</div>
			<div class="sale_block_circle">
				40%
			</div>
		</div>
		

		<div class="sale_block_section <% if current_user.sale>=50%>active<% end %>">
			<div class="sale_block_line">
				
			</div>
			<div class="sale_block_circle">
				50%
			</div>
		</div>
		

	</div>
<% end %>