<video class='video mobile_content' playsinline width="100%" <% if @mobile==false%>autoplay<% end %> poster="/videos/test_<%=current_user.get_test_id%>/video.png">
	<source src="/videos/test_<%=current_user.get_test_id%>/video.mp4" type="video/mp4">
	<source src="/videos/test_<%=current_user.get_test_id%>/video.webm" type="video/webm">
	<source src="/videos/test_<%=current_user.get_test_id%>/video.ogv" type="video/ogg">
</video> 

<video muted="muted" class='video_loop' playsinline width="100%" loop autoplay poster="/videos/test_<%=current_user.get_test_id%>/loop<% if current_user.get_test_id=='2' and @mobile==true%>_2<%end%>.png">
	<source src="/videos/test_<%=current_user.get_test_id%>/loop<% if current_user.get_test_id=='2' and @mobile==true%>_2<%end%>.mp4" type="video/mp4">
	<source src="/videos/test_<%=current_user.get_test_id%>/loop<% if current_user.get_test_id=='2' and @mobile==true%>_2<%end%>.webm" type="video/webm">
	<source src="/videos/test_<%=current_user.get_test_id%>/loop<% if current_user.get_test_id=='2' and @mobile==true%>_2<%end%>.ogv" type="video/ogg">
</video> 