<!DOCTYPE html>
<html>
  <head>
    <title>Сохраняйте леса вместе с нами</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&display=swap" rel="stylesheet">
    
    <% if @mobile==true %>
        <meta name="viewport" content="width=480px,user-scalable=no">
    <% else %>
      <meta name="viewport" content="width=device-width">
    <% end %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/ui.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="yandex-verification" content="a53ae27b53bcf9de" />
  
    <meta name="description" content='Скидка до 50% на продукцию Zewa в магазинах "Пятёрочка".'>

    <meta property="og:title" content="Сохраняйте леса вместе с Zewa!"/>

    <meta property="og:description" content='Скидка до 50% на продукцию Zewa в магазинах "Пятёрочка".'/>

    <meta property="og:image" content="https://save-forest-with-zewa-i-5ka.ru/share.png"/>
    <meta property="og:url" content= "https://save-forest-with-zewa-i-5ka.ru/share/" />
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="save-forest-with-zewa-i-5ka.ru"/>
  
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    
  </head>

  <body>
    
    <div class="loader">
      <div class="overlay">
        <div class="spinner">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <div class="bar4"></div>
          <div class="bar5"></div>
          <div class="bar6"></div>
          <div class="bar7"></div>
          <div class="bar8"></div>
          <div class="bar9"></div>
          <div class="bar10"></div>
          <div class="bar11"></div>
          <div class="bar12"></div> 
        </div>
      </div>
    </div>

    <% if params[:controller]!='tests'%>
    
      <div class="header">
        <div class="content">
          <a href="/">
            <div class="header_logo">
              <img src="/img/layouts/logo_zewa.png" alt="">
            </div>
            <div class="header_logo">
              <img src="/img/layouts/logo_5.png" alt="">
            </div>
            <div class="header_logo">
              <img src="/img/layouts/logo.png" alt="">
            </div>
          </a>
          
          <div class="button_burger js-open-menu">
            
          </div>
          
          <a href='/tests' class="header_button ym-goal" goal="start_head">
            Начать квест
          </a>
          
          <ul class='menu'>
            <% if User.where(winner: true).present?%>
              <li>
                <a href="/wins">Победители</a>
              </li>
            <% end %>
            <li>
              <a href="/partners">Партнеры</a>
            </li>
            <li>
              <a href="/rules">Правила акции</a>
            </li>
            <li>
              <a href="/contacts">Контакты</a>
            </li>
          </ul>
          
          
          
          <div class="clear"></div>
        </div>
        
        <div class="mobile_menu">
          <ul>
            <% if User.where(winner: true).present?%>
              <li>
                <a href="/wins">Победители</a>
              </li>
            <% end %>
            <li>
              <a href="/partners">Партнеры</a>
            </li>
            <li>
              <a href="/rules">Правила акции</a>
            </li>
            <li>
              <a href="/contacts">Контакты</a>
            </li>
          </ul>
          <a href="/tests" class="mobile_menu_button_start ym-goal" goal="start_mobile">
            Начать квест  ►
          </a>
        </div>
      </div>
    <% end %>
    
    <%= yield %>
    
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(79962055, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/79962055" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

  </body>
</html>
